.titulo{
    text-align: center;
    padding: 5px;
    border-radius: 15px;
}
.formulario{
    padding: 8px;
    border-radius: 15px;
}
.boton{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.info{
    margin: 1px;
}
.info1{
    background-color: rgb(0,58,186);
    color:white;
    border-radius: 15px;
    text-align: center;
}
.info2{
    background-color: green;
    color:white;
    border-radius: 15px;
    text-align: center;
}
.info3{
    background-color: rgb(112,191,2);
    color:white;
    border-radius: 15px;
    text-align: center;
}
.info4{
    background-color: rgb(254,218,36);
    color:white;
    border-radius: 15px;
    text-align: center;
}
.info5{
    background-color: rgb(255,152,27);
    color:white;
    border-radius: 15px;
    text-align: center;
}
.info6{
    background-color: rgb(237,28,36);
    color:white;
    border-radius: 15px;
    text-align: center;
}
